body{
font-family: 'Playfair Display', serif;
color: lightblue;
background-color: lightyellow;
}

h1{
text-align: center;
font-size: 70px;
margin-top: -10px;
text-decoration: none;
border: 13px;
border-color: lightblue;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
}


.menulateral {
width: 400px;
margin-top: -50px;
border: 13px;
border-color: #F0B27A;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
float: left;
}

.menulateral a {
background-color: white;
color: lightblue;
display: block;
padding: 12px;
text-decoration: underline;
font-size: 35px;
padding-left: 20px;
}

.menulateral a:hover {
background-color: grey;
}

.menulateral a.active {
background-color: #04AA6D;
color: white;
}

.opciones {
width: 400px;
margin-top: -50px;
border: 13px;
border-color: #F0B27A;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
float: left;
padding: 50px;
margin-left: 25px;
}

.opciones a {
background-color: white;
color: lightblue;
display: block;
padding: 12px;
text-decoration: underline;
font-size: 35px;
padding-left: 20px;
}

.opciones a:hover {
background-color: grey;
}

.opciones a.active {
background-color: #04AA6D;
color: white;
}
